<header id="navbar-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h2 class="my-3" style="font-weight:bolder">JP's Painting & Remodeling</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item active justify-content-between mx-3">
                        <a class="nav-link" active>HOME</a>
                    </li>
                    <li class="nav-item active mx-1">
                        <a class="nav-link">SERVICES</a>
                    </li>
                    <li class="nav-item active mx-1">
                        <a class="nav-link">PROJECTS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link">CUSTOMERS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link">CALENDARS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link">CALLS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link">TODO</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link">OPTIONS</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link">HELP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>