
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid black;
}

th, td {
    font-size: 12px;
    border-bottom: 1px solid black;
}

thead {
    background-color: #ee3724;
    color: #fff;
    font-family: 'Raleway', 'sans-serif';
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

a {
    color: #000;
}

a:hover {
    color: #ee3724;
    cursor: pointer;
}



.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}


/* input field colors */

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ee3724 !important;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #ee3724 !important;
}

/* #ffac0b */

/* ::ng-deep.mat-form-field-underline {
    background-color: #ee3724 !important;
  } */

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #ee3724 !important;
    ;
}

::ng-deep input.mat-input-element {
    color: black;
}

mat-form-field {
    width: 100%;
}