/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

#sidebarCollapse span {
    display: none;
}


.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.card {
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* End */

.headertitle {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 29px;
    line-height: 40px;
}

.headertitle::after {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #ee3724;
    display: block;
    content: "";
    height: 1.5px;
}

li {
    list-style: none;
}

td {
    /* background: #ee3724; */
    border: 0;
    border-top: 1px solid #cfd8dc;
}

h4 {
    font-family: 'Raleway', 'sans-serif';
    font-weight: bold;
    background: #e4e4e4;
    border-color: #858d94;
    text-align: center;
    
    color: #000000;
    border-bottom: 2px solid #1f15135e;
    padding: 9px 0px;
    font-size: 12px;
    letter-spacing: 2px;
}

p {
    padding: 5px 12px;
    text-align: center;
}

span.icons_placement {
    float: right;
}

div>button#EditCustomerButton {
    display: block;
    background-color: white;
    color: #ee3724;
    border-radius: 34px;
    width: 60px;
    height: 40px;
    font-size: 15px;
}

div>button#EditCustomerButton:hover {
    display: block;
    background-color: #ee3724;
    color: white;
    border-radius: 34px;
    width: 60px;
    height: 40px;
    font-size: 15px;
    transition: 3ms ease-in;
}

div>button#CustomerInteractionsButton {
    display: block;
    background-color: #ee3724;
    border-color: #ee3724;
    border: 2px solid #ee3724;
    border-radius: 50px;
    height: 40px;
    font-size: 15px;
    width: 60px;
}

div>button#CustomerInteractionsButton:hover {
    display: block;
    background-color: transparent;
    border: 2px solid #ee3724;
    color: #ee3724;
    border-radius: 50px;
    height: 40px;
    font-size: 15px;
    width: 60px;
}

.btn-primary {
    background-color: #ee3724;
    border-color: #ee3724;
    border: 2px solid #ee3724;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: 600;
    line-height: normal;
    border-radius: 34px;
    width: 100px;
    transition: ease-in 0.3;
    -webkit-transition: all 0.3s ease 0s
}

.btn-primary:hover {
    background-color: transparent;
    border: 2px solid #ee3724;
    color: #ee3724;
    transition: ease-in 0.3;
    font-weight: 600;
    line-height: normal;
    -webkit-transition: all 0.3s ease 0s
}

.btn-primary-outline {
    background-color: transparent;
    border: 2px solid #ee3724;
    color: #ee3724;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: 600;
    line-height: normal;
    border-radius: 34px;
    width: 100px;
    transition: ease-in 0.3;
    -webkit-transition: all 0.3s ease 0s
}

.btn-primary-outline:hover {
    background-color: #ee3724;
    border: 2px solid #ee3724;
    color: #fff;
    transition: ease-in 0.3;
    font-weight: 600;
    line-height: normal;
    -webkit-transition: all 0.3s ease 0s
}

a {
    color: #000;
}

a:hover {
    color: #ee3724;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid black;
}

th, td {
    font-size: 12px;
    border-bottom: 1px solid black;
}

thead {
    background-color: #ee3724;
    color: #fff;
    font-family: 'Raleway', 'sans-serif';
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}