

<section id="slider">
    <div id="carouselExampleControls" class="carousel carousel-fade" id="Indicator" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#Indicator" data-slide-to="0" class="active"></li>
            <li data-target="#Indicator" data-slide-to="1"></li>
            <li data-target="#Indicator" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="1000">
                <img src="assets/img/first_Slide.jpg" class="d-block" alt="..." style="">
                <div class="carousel-caption center">
                    <div class="slider-content-box">
                        <h2 class="slider-box-title">HOME IMPROVEMENTS AND REMODELING</h2>
                        <hr>
                        <p class="slider-box-content">With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, remodeling or driveway sett.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="1000">
                <ol class="carousel-indicators">
                    <li data-target="#Indicator" data-slide-to="0" class="active"></li>
                    <li data-target="#Indicator" data-slide-to="1"></li>
                    <li data-target="#Indicator" data-slide-to="2"></li>
                </ol>
                <img src="assets/img/second_Slide.jpg" class="d-block" style="background-position: left" alt="...">
                <div class="carousel-caption center">
                    <div class="slider-content-box">
                        <h2 class="slider-box-title">PROFESSIONAL TILING AND PAINTING SERVICES</h2>
                        <hr>
                        <p class="slider-box-content">We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="1000">
                <ol class="carousel-indicators">
                    <li data-target="#Indicator" data-slide-to="0" class="active"></li>
                    <li data-target="#Indicator" data-slide-to="1"></li>
                    <li data-target="#Indicator" data-slide-to="2"></li>
                </ol>
                <img src="assets/img/third_Slide.jpg" class="d-block" style="" alt="...">
                <div class="carousel-caption center">
                    <div class="slider-content-box">
                        <h2 class="slider-box-title">YOUR MOST AFFORDABLE CONTRACTORS</h2>
                        <hr>
                        <p class="slider-box-content">We have the experience, personel and resources to make the project run smoothly. We can ensure a job is done on time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="Services">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="my-5 headertitle">OUR SERVICES</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="headertitletext m-0 p-0">With over 15 years experience and real focus on customer satisfaction, you can rely on us for your next renovation, driveway sett or home repair. We provide a professional service for private and commercial customers.</p>
            </div>
        </div>

        <div class="card-deck">
            <div class="card my-5" style="width: 25rem;box-sizing: unset">
                <img src="assets/img/image_01.jpg" class="card-img-top img-fluid" alt="..." style="box-sizing: unset">
                <div class="card-body">
                    <h4 class="card-title">INTERIOR RENOVATION</h4>
                    <p class="card-text">We can help you bring new life to existing rooms and develop unused spaces.</p>
                </div>
            </div>
            <div class="card my-5" style="width: 25rem;">
                <img src="assets/img/image_02.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h4 class="card-title">DESIGN AND BUILD</h4>
                    <p class="card-text">
                        From initial design and project specification to archieving a high end finish.
                    </p>
                </div>
            </div>
            <div class="card my-5" style="width: 25rem;">
                <img src="assets/img/image_03.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h4 class="card-title">TILING AND PAINTING</h4>
                    <p class="card-text">We offer quality tiling and painting solutions for interior and exterior.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-Primary mb-5">VIEW ALL SERVICES</button>
            </div>
        </div>
    </div>
<!-- <app-loader></app-loader> -->

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="my-5 headertitle">RECENT PROJECTS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="headertitletext mb-5">Here are a few of many projects we have completed for our customers. We provide a professional service which includes consultation, free estimate, design, supply of materials and installation.</p>
        </div>
    </div>
</div>

<section id="primary">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6 col-md-4 col-lg m-0 p-0">
                <div class="imagebox">
                    <img src="assets/img/rp_Slide_01.jpg" alt="Avatar" class="image">
                    <!-- <p class="text-center imagebox-desc">Painting</p> -->
                    <!-- <button class="btn btn-Primary imagebox-desc">View Project</button> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg m-0 p-0">
                <div class="imagebox">
                    <img src="assets/img/rp_Slide_02.jpg" alt="Avatar" class="image">
                    <!-- <p class="text-center imagebox-desc">Garden Renovation</p> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4  col-lg m-0 p-0">
                <div class="imagebox">
                    <img src="assets/img/rp_Slide_03.jpg" alt="Avatar" class="image">
                    <!-- <p class="text-center imagebox-desc">Interior Renovation</p> -->
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg m-0 p-0">
                <div class="imagebox">
                    <img src="assets/img/rp_Slide_04.jpg" alt="Avatar" class="image">
                    <!-- <p class="text-center imagebox-desc">Solar Systems</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="exploreOurProjects">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h3 class="my-5 text-center">EXPLORE OUR PROJECTS</h3>
            </div>
            <div class="col-4">
                <button class="my-5 text-center btn-Primary">VIEW ALL PROJECTS</button>
            </div>
        </div>
    </div>
</section>


<!-- <div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-danger" >Start Loader</button>
        </div>
    </div>
</div> -->