

<section class="mb-3" >
  <div class="container">
    <div class="card ">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="form-check-inline mx-3">
              <label for="" class="form-check-label mx-3">
                <input type="checkbox" class="form-check-input" placeholder="Show Notes">
                Show Notes
              </label>
              <label for="" class="form-check-label mx-3">
                <input type="checkbox" class="form-check-input" placeholder="Show Projects">
                Show Projects
              </label>
              <label for="" class="form-check-label mx-3">
                <input type="checkbox" class="form-check-input" placeholder="notes">
                Show Appointments
              </label>
              <label for="" class="form-check-label mx-3">
                <input type="checkbox" class="form-check-input" placeholder="notes">
                Show Phone Calls
              </label>
              <!-- <label for="" class="form-check-label mx-1">
                <input type="checkbox" class="form-check-input" placeholder="notes">
                Show Expenses
              </label>
              <label for="" class="form-check-label mx-1">
                <input type="checkbox" class="form-check-input" placeholder="notes">
                Show Payments
              </label> -->
            </div>
          </div>
          <!-- <div class="col-sm-6 col-md-8 col-lg-2">
            <input type="date" class="form-control">
          </div>
          <div class="col-sm-6 col-md-8 col-lg-1">
            <button type="submit" class="btn btn-primary color" id="submitButton">
              <i class="fas fa-search"></i>Search
            </button>
          </div> -->
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-9">
            <div class="form-check-inline mx-3">
              <label for="" class="form-check-label mx-3">
                <input type="checkbox" class="form-check-input" placeholder="Show Expenses">
                Show Expenses
              </label>
              <label for="" class="form-check-label mx-3">
                <input type="checkbox" class="form-check-input" placeholder="Show Payments">
                Show Payments
              </label>
            </div>
            <label for="" class="form-check-label mx-3">
              Created Date
              <input type="date" class="form-control" placeholder="Created Date">
              
            </label>
            <label for="" class="form-check-label mx-3">
              <button type="submit" class="btn btn-primary color" id="submitButton">
                <i class="fas fa-search"></i> Search
              </button>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mb-3">
  <div class="container">
    <div class="card ">
      <div class="card-body">
        <div class="table-responsive table-striped">
          <table class="table mb-5">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Interaction Type</th>
                <th scope="col">Notes</th>
                <th scope="col">Performed By</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6/20/2018 11:35:41 AM </td>
                <td>User Action </td>
                <td>Other Estimator Appointment updated. New time set: Jun 20 2018 7:00AM Scheduled for Estimate</td>
                <td>Claudia Arteaga</td>
              </tr>
              <tr>
                <td>6/22/2018 11:35:41 AM </td>
                <td>User Action </td>
                <td>Other Estimator Appointment updated. New time set: Jun 20 2018 7:00AM Scheduled for Estimate</td>
                <td>Claudia Arteaga</td>

              </tr>
              <tr>
                <td>6/25/2018 11:35:41 AM </td>
                <td>User Action </td>
                <td>Other Estimator Appointment updated. New time set: Jun 20 2018 7:00AM Scheduled for Estimate</td>
                <td>Claudia Arteaga</td>
              </tr>
              <tr>
                <td>8/20/2018 11:35:41 AM </td>
                <td>User Action </td>
                <td>Other Estimator Appointment updated. New time set: Jun 20 2018 7:00AM Scheduled for Estimate</td>
                <td>Claudia Arteaga</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="mb-3">
  <div class="container">
    <div class="card ">
      <div class="card-body">
        <div class="table-responsive table-striped">
          <table class="table mb-5">
            <thead>
              <tr>
                <th scope="col">Due Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Project</th>
                <th scope="col">Title</th>
                <th scope="col">Reason</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Status</th>
                <th scope="col">Result</th>
                <th scope="col">Call Date</th>
                <th scope="col">Caller</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>6/20/2018</td>
                <td> Eichblberger , Leon</td>
                <td>916148 </td>
                <td>Call to follow up</td>
                <td>Follow up on decision</td>
                <td> Hermosillo , Lizbeth</td>
                <td>Other</td>
                <td>Go over has been scheduled.</td>
                <td>6/20/2018 12:33:29 PM</td>
                <td>Hermosillo , Lizbeth</td>
              </tr>
              <tr>
                <td>6/20/2018</td>
                <td> Eichblberger , Leon</td>
                <td>916148 </td>
                <td>Call to follow up</td>
                <td>F</td>
                <td> Hermosillo , Lizbeth</td>
                <td>Other</td>
                <td>Go over has been scheduled.</td>
                <td>6/20/2018 12:33:29 PM</td>
                <td>Hermosillo , Lizbeth</td>
              </tr>
              <tr>
                <td>6/20/2018</td>
                <td> Eichblberger , Leon</td>
                <td>916148 </td>
                <td>Call to follow up</td>
                <td>F</td>
                <td> Hermosillo , Lizbeth</td>
                <td>Other</td>
                <td>Go over has been scheduled.</td>
                <td>6/20/2018 12:33:29 PM</td>
                <td>Hermosillo , Lizbeth</td>
              </tr>
              <tr>
                <td>6/20/2018</td>
                <td> Eichblberger , Leon</td>
                <td>916148 </td>
                <td>Call to follow up</td>
                <td>F</td>
                <td> Hermosillo , Lizbeth</td>
                <td>Other</td>
                <td>Go over has been scheduled.</td>
                <td>6/20/2018 12:33:29 PM</td>
                <td>Hermosillo , Lizbeth</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section> -->