/*
* Navbar
*/

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.btn-info {
    color: #fff;
    background-color: #ee3724;
    border-color: #ee3724;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: #ee3724;
    color: black;
    transition: all 0.3s;
    height: 100%;
    /* background-image: linear-gradient(45deg, #780206, #061161); */
    /* background-image: linear-gradient(87deg, rgba(234, 52, 87, .8) 0, rgba(96, 46, 117, .9) 100%); */
}

#sidebar.active {
    min-width: 140px;
    max-width: 140px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 21px 0px;
    text-align: center;
    font-size: 12px;
    white-space: unset;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

/* .link-active {
    background-color: black;
    color: #ee3724;
} */

#sidebar ul li a.link-active {
    background-color: #ee3724;
    color: #fff;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header h3 img {
    padding: 20px;
    background: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    background-color: #00000091;
    padding: 10px;
    color: white;
    /* text-shadow: 2px 2px 4px #000000; */
    /* text-shadow: 1px 1px #43403f; */
    /* color: #ed3724; */
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #ee3724;
    text-shadow: none;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #ffac0b;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ee3724;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #ee3724!important;
    color: #fff !important;
}

.btn_right {

  /* z-index: -1;
  position: relative;
  float: right; */
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */