<button
  (click)="_sharedService.isSidebarShow = _sharedService.isSidebarShow == true ? false : true ;  _sharedService.isDisplayNone = _sharedService.isDisplayNone == true ? false : true"
  class="btn btn-dark d-block mr-auto side-bar-button" type="button" placement="right"
  ngbTooltip="show/hide sidebar">
  <i class="fas fa-bars"></i>
</button>

<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid px-0">
    <div class="row justify-content-end">
      <div class="col">
        
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
      </ul>
    </div>
  </div>
</nav> -->