.logo_image_container {
    position: relative;
    top: 0;
    left: 0;
}

.logo_image {
    position: absolute;
    left: 25%;
    top: 6%;
}

.card {
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);
}

.headertitle {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 29px;
    line-height: 40px;
}

.headertitle::after {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    margin-top: 9px;
    display: block;
    content: "";
    height: 1.5px;
}

h4 {
    font-family: 'Raleway', 'sans-serif';
    font-weight: bold;
    background: #e4e4e4;
    border-color: #858d94;
    text-align: -webkit-center;
    color: #000000;
    border-bottom: 2px solid #1f15135e;
    padding: 9px 0px;
    font-size: 12px;
    letter-spacing: 2px;
}

p {
    font-size: 12px;
    padding: 5px 0px;
    text-align: -webkit-center;
    margin-bottom: 0;
}


table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid black;
}

th, td {
    font-size: 12px;
    border-bottom: 1px solid black;
}

thead {
    background-color: #ee3724;
    color: #fff;
    font-family: 'Raleway', 'sans-serif';
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

label {
    font-family: 'Raleway', 'sans-serif';
    font-size: 14px;
}

label.select-label {
    width: 8rem;
}

select {
    width: 12rem;
}

td.price {
    text-align: right;
    padding-right: 10px;
    padding-left: 0;
    width: 90px;
    border-right: 1px solid #888;
}

td.description textarea {
    width: 874px;
}

.form-check-inline {
    display: -webkit-inline-box;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

textarea.form-control {
    height: calc(1.5em + .75rem + 2px);
}

td.price>input.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.w-50 {
    width: 50%!important;
}

td.area textarea {
    width: 180px !important;
}

td.checkbox {
    width: 450px !important;
}