

<!-- <section style="margin-top: 6%;">
  <div class="container">
    <div class="card" style="background-color: #ee3724;">
      <div class="card-body" style="padding: 5px;">
        <h3 style="text-align: center;color: #fff;margin-bottom: 0px;">Statistics</h3>
      </div>
    </div>
  </div>
</section> -->

<div class="container">

  <div class="card">
    <div class="card-body">
      <div class="container px-0">

        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-general-info-tab" data-toggle="tab" href="#nav-general-info"
              role="tab" aria-controls="nav-general-info" aria-selected="true">General Statistics </a>
            <a class="nav-item nav-link" id="nav-csr-tab" data-toggle="tab" href="#nav-csr" role="tab"
              aria-controls="nav-csr" aria-selected="false">CSR Statistics</a>
            <a class="nav-item nav-link" id="nav-estimator-tab" data-toggle="tab" href="#nav-estimator" role="tab"
              aria-controls="nav-estimator" aria-selected="false">Estimator Statistics</a>
            <a class="nav-item nav-link" id="nav-crew-tab" data-toggle="tab" href="#nav-crew" role="tab"
              aria-controls="nav-crew" aria-selected="false">Crew Statistics</a>

          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-general-info" role="tabpanel"
            aria-labelledby="nav-general-info-tab">
            <div class="row">
              <div class="col-md-12">
                <ol style="margin-top: 30px;margin-bottom: 30px;">
                  <li routerLink="/statistic/customer-referrel-source/marketing-costs">Customer Referral Sources / Marketing Costs</li>
                  <li routerLink="/statistic/overall-estimate-statistics">Overall Estimate Statistics</li>
                  <li routerLink="/statistic/overall-work-statistics">Overall Work Statistics</li>
                  <li routerLink="/statistic/estimate-by-customer-zipcode">Estimates by Customer Zip Code</li>
                  <li routerLink="/statistic/work-by-customer-zipcode">Work by Customer Zip Code</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-estimator" role="tabpanel" aria-labelledby="nav-estimator-tab">
            <div class="row">
              <div class="col-md-12">
                <ol style="margin-top: 30px;margin-bottom: 30px;">
                  <li routerLink="/statistic/estimator-breakdowns">Estimator Breakdowns</li>
                  <li routerLink="/statistic/estimate-to-work-stats">Estimate to Work %</li>
                  <li routerLink="/statistic/missing-estimates">Missing Estimates</li>
                </ol>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="nav-csr" role="tabpanel" aria-labelledby="nav-csr-tab">

            <div class="row">
              <div class="col-md-12">
                <ol style="margin-top: 30px;margin-bottom: 30px;">
                  <li routerLink="/statistic/csr-customer-to-work-stats">CSR Customer to Work %</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-crew" role="tabpanel" aria-labelledby="nav-crew-tab">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <ol style="margin-top: 30px;margin-bottom: 30px;">
                      <li routerLink="/statistic/crew-breakdowns">Crew Breakdownns</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>