
/* ---------------------------------------------------
    tabs
----------------------------------------------------- */


nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
    font-size: 14px;

      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -39px;
    left: -22%;
    border: 7px solid transparent;
    border-top-color: #e74c3c;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }

  nav > div a.nav-item.nav-link.active:after {
    content: "";
    position: relative;
    bottom: -39px;
    left: -22%;
    border: 7px solid transparent;
    border-top-color: #e74c3c;
}


table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid black;
}

th, td {
    font-size: 12px;
    border-bottom: 1px solid black;
}

thead {
    background-color: #ee3724;
    color: #fff;
    font-family: 'Raleway', 'sans-serif';
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

label {
    font-family: 'Raleway', 'sans-serif';
    font-size: 14px;
}


/* input field colors */

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #ee3724 !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #ee3724 !important;
}

/* #ffac0b */

::ng-deep.mat-form-field-underline {
  background-color: #ee3724 !important;
} 

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #ee3724 !important;
  ;
}

::ng-deep input.mat-input-element {
  color: black;
}

mat-form-field {
  width: 100%;
}